.pageheader {
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: 40%;
}

.title {
  text-shadow: -1px 12px 9px #000;
  filter: contrast(1.1) brightness(0.95);
  filter: blur(0.4px);


}
